{% extends 'layout.html' %}
{% block content %}
    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Drivers</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Last name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Last name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for driver in drivers %}
                    <tr>
                      <td>{{ driver.first_name }}</td>
                      <td>{{ driver.last_name }}</td>
                      <td>{{ driver.phone }}</td>
                      <td>{{ driver.email }}</td>
                      <td>
                          <a href="" class="btn btn-success btn-sm">View</a>
                          <a href="" class="btn btn-primary btn-sm">Edit</a>
                      </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock %}
